@import "/src/scss/variables.scss";

.header {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoAccent {
  font-size: 18px;
  color: $primaryColor;
}

.oval {
  margin-left: 20px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid $accentColor;
  width: 20px;
}

.links {
  display: flex;
  list-style: none;
}

.link {
  color: $primaryColor;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }
}
